html {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #fbd258; }

.container {
  position: relative;
  z-index: 5;
  max-width: 1200px;
  margin: 0 auto; }

/* ---- static background colour ---- */
#body {
  z-index: 1;
  position: fixed;
  height: 120vh; }

.bg {
  background-color: #ffe1c2;
  width: 100%;
  overflow: hidden;
  display: block; }

.colour02 {
  position: relative;
  top: 35%;
  overflow: hidden; }

.bg01 {
  width: 0;
  height: 0;
  border-bottom: 300px solid #fbd258;
  border-right: 1350px solid transparent; }

.bg02 {
  height: 300px;
  background-color: #fbd258;
  border: 1px solid #fbd258; }

/* ---- footer ---- */
.footer-icons {
  color: #ff6160;
  font-size: 20pt;
  margin: 30px 0;
  text-align: center; }

.fa {
  margin: 0 20px;
  cursor: pointer; }

/* ---- site ---- */
/* ---- nav menu ---- */
main {
  font-family: 'Questrial', 'Raleway', helvetica, sans-serif; }

nav {
  text-transform: uppercase;
  font-family: 'Raleway', helvetica, arial, sans-serif;
  color: #ff6160;
  padding-top: 37px; }
  nav li, nav h3 {
    display: inline; }
  nav ul {
    margin: 0px; }
    nav ul a {
      float: right;
      padding: 20px 0 0px 50px;
      text-decoration: none;
      list-style: none;
      color: #ff6160;
      font-size: 14pt;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      font-weight: 500; }
  nav a:hover {
    color: #FF9A99;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  nav a:active, nav a:focus {
    font-weight: 800; }
  nav li h3 {
    font-size: 28pt;
    letter-spacing: 2px;
    margin: 0; }

hr {
  border-color: #ff6160;
  border-width: 2px;
  margin: 5px 0;
  color: #ff6160; }

/* ---- mobile nav menu ---- */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  font-family: 'Raleway', helvetica, arial, sans-serif;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffe1c2;
  overflow-y: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .overlay li, .overlay a {
    padding: 15px;
    font-weight: 600;
    text-decoration: none;
    list-style: none;
    font-size: 40px;
    letter-spacing: 3pt;
    color: #ff6160;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.overlay-content {
  position: relative;
  top: 23%;
  width: 100%;
  text-align: center;
  margin-top: 30px; }

.mobilenav {
  color: #ff6160;
  font-family: 'Raleway', helvetica, arial, sans-serif; }
  .mobilenav p {
    margin: 0;
    padding-top: 35px;
    float: right;
    font-size: 30px;
    cursor: pointer; }
  .mobilenav h3 {
    float: left;
    font-size: 28pt;
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
    color: #ff6160;
    padding-top: 37px; }

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1; }

.overlay .closebtn {
  font-weight: 500;
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 60px; }

.clearfix {
  clear: both; }

/* ---- portfolio filter menu ---- */
.filter-menu {
  margin: 30px 0;
  text-align: center; }
  .filter-menu .button {
    font-family: 'Quicksand', 'Raleway', helvetica, arial, sans-serif;
    display: inline-block;
    margin: 8px 30px;
    padding: 0;
    color: #ff6160;
    text-align: center;
    font-size: 14pt;
    font-weight: 600;
    line-height: 1px;
    letter-spacing: .1rem;
    text-transform: none;
    text-decoration: none;
    white-space: none;
    background-color: transparent;
    border-radius: 0;
    border: none;
    border-bottom: 3px solid transparent;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .filter-menu .button:focus, .filter-menu .button:active {
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      border-bottom: 3px solid #ff6160; }

/* ---- work page ---- */
/* portfolio filter */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.content {
  background-color: white;
  margin: 10px;
  font-family: 'Raleway', helvetica, arial, sans-serif;
  color: #202020; }
  .content img {
    padding: 10px 10px 0 10px;
    width: 100%; }
  .content h4 {
    font-size: 18pt;
    font-weight: 500;
    text-align: left;
    padding: 0 10px 5px 10px;
    margin: 0; }
  .content hr {
    margin: 0 10px;
    border-color: #ff6160;
    border-width: 1.5px;
    color: #ff6160; }
  .content p {
    font-size: 11pt;
    text-align: left;
    text-transform: uppercase;
    padding: 5px 10px; }

/* Hide all elements by default */
.column {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  display: none; }

/* The "show" class is added to the filtered elements */
.show {
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  display: block; }

/* ---- about page ---- */
.about-image {
  z-index: 2;
  margin-top: 80px; }
  .about-image img {
    width: 100%;
    z-index: 2; }

.call-to-action {
  padding: 0 0 0 20px;
  z-index: 10;
  margin-top: 130px;
  color: #ff6160;
  text-align: right; }
  .call-to-action h3 {
    font-weight: bold;
    letter-spacing: 1pt;
    margin: 0;
    font-size: 22pt; }

.cta-button {
  font-size: 10pt;
  text-transform: none;
  line-height: 1.5;
  border-radius: 25px;
  border: 2px solid #ff6160;
  padding: 8px 30px;
  margin: 10px 0 40px 0; }

.about-text {
  left: 600px;
  margin-left: -90px;
  z-index: 10;
  padding-bottom: 20px; }
  .about-text p {
    text-align: justify; }

/* ---- contact page ---- */
.contact-header {
  color: #ff6160;
  font-family: 'Quicksand', 'Raleway', helvetica, arial, sans-serif; }
  .contact-header h2 {
    line-height: 39px;
    letter-spacing: .05rem;
    font-weight: 500;
    font-size: 22pt;
    padding: 13% 20% 22px 20%; }

.contact {
  border-left: 5px solid #ff6160;
  margin: 0 20%;
  padding: 0 10px; }
  .contact p {
    font-size: 16pt; }
  .contact i {
    font-size: 20pt; }

/* correcting Skeleton CSS */
@media (min-width: 550px) {
  .column, .columns {
    margin-left: 0; } }

/* ---- media queries ---- */
/* ---- mobile ---- */
@media only screen and (min-width: 320px) and (max-width: 640px) {
  /* ---- background colours ---- */
  .colour02 {
    top: 40%; }
  .bg01 {
    border-bottom: 200px solid #fbd258;
    border-right: 640px solid transparent; }
  .bg02 {
    height: 400px; }
  /* ---- nav ---- */
  nav {
    display: none; }
  .mobilenav p {
    padding-top: 18px; }
  .mobilenav h3 {
    padding-top: 25px;
    font-size: 22pt; }
  .filter-menu {
    margin: 20px 0; }
    .filter-menu .button {
      margin: 8px 23px; }
  .overlay-content {
    top: 10%; }
  .overlay .closebtn {
    top: -10px;
    right: 15px; }
  /* ---- footer ---- */
  .footer-icons {
    font-size: 20pt;
    margin: 30px 0; }
  .fa {
    margin: 0 10px; }
  .fspecial {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0; }
  /* ---- about page ---- */
  .about-image {
    z-index: 2;
    margin-top: 60px; }
    .about-image img {
      width: 100%;
      z-index: 2; }
  .call-to-action {
    margin-top: 30px;
    text-align: left; }
    .call-to-action h3 {
      letter-spacing: 1pt;
      font-size: 20pt; }
  .cta-button {
    font-size: 12pt;
    line-height: 1.2; }
  .about-text {
    left: 0;
    margin-left: 0px;
    padding-bottom: 20px; }
    .about-text p {
      text-align: justify; }
  /* ---- contact page ---- */
  .contact-header h2 {
    line-height: 35px;
    font-size: 16pt;
    padding: 50px 0 10px 0; }
  .contact {
    border-left: 3px solid #ff6160;
    margin: 0;
    padding: 0 10px; }
    .contact i {
      font-size: 18pt; }
  /* ---- override column structure ---- */
  .one-third.column {
    width: 100%; } }

/* ---- large mobile ---- */
@media only screen and (min-width: 640px) and (max-width: 768px) {
  /* ---- background colours ---- */
  .bg01 {
    border-bottom: 250px solid #fbd258;
    border-right: 768px solid transparent; }
  /* ---- nav ---- */
  nav {
    display: none; }
  .overlay-content {
    top: 15%; }
  .overlay .closebtn {
    top: -10px;
    right: 48px; }
  /* ---- about page ---- */
  .about-image {
    z-index: 2;
    margin-top: 60px; }
    .about-image img {
      width: 205%;
      z-index: 2; }
  .call-to-action {
    padding: 0;
    margin-left: -100%;
    margin-top: 450px;
    text-align: left;
    margin-right: 124%; }
    .call-to-action h3 {
      letter-spacing: 1pt;
      font-size: 20pt; }
  .cta-button {
    font-size: 12pt;
    line-height: 1.2; }
  .about-text {
    left: 0;
    margin-top: -240px;
    margin-left: -14%; }
    .about-text p {
      text-align: justify; }
  .fspecial {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0; }
  /* ---- contact page ---- */
  .contact-header h2 {
    line-height: 30px;
    font-size: 16pt;
    padding: 25% 40px 10px 40px; }
  .contact {
    border-left: 4px solid #ff6160;
    margin: 0 40px;
    padding: 0 10px; }
  /* ---- override column structure ---- */
  .one-third.column {
    width: 50%; } }

/* ---- phablet ---- */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* ---- background colours ---- */
  .bg01 {
    border-bottom: 400px solid #fbd258;
    border-right: 1024px solid transparent; }
  /* ---- nav ---- */
  nav {
    display: none; }
  /* ---- override column structure ---- */
  .one-third.column {
    width: 33.33%; }
  /* ---- about page ---- */
  .about-image {
    z-index: 2;
    margin-top: 60px; }
    .about-image img {
      width: 205%;
      z-index: 2; }
  .call-to-action {
    padding: 0;
    margin-left: -100%;
    margin-top: 500px;
    text-align: left;
    margin-right: 130%; }
    .call-to-action h3 {
      letter-spacing: 1pt;
      font-size: 20pt; }
  .cta-button {
    font-size: 12pt;
    line-height: 1.2; }
  .about-text {
    left: 0;
    margin-top: -240px;
    margin-left: -14%; }
    .about-text p {
      text-align: justify; }
  /* ---- contact page ---- */
  .contact-header h2 {
    padding: 25% 80px 25px 80px; }
  .contact {
    border-left: 4px solid #ff6160;
    margin: 0 80px;
    padding: 0 10px; }
  .fspecial {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0; } }

/* ---- tablet ---- */
@media only screen and (min-width: 1024px) and (max-width: 1365px) {
  /* ---- background colours ---- */
  .colour02 {
    top: 30%; }
  .bg01 {
    border-bottom: 300px solid #fbd258;
    border-right: 1366px solid transparent; }
  /* ---- nav ---- */
  .mobilenav {
    display: none; }
  /* ---- override column structure ---- */
  .one-third.column {
    width: 33.33%; }
  .fspecial, .fabout {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0; } }

/* ---- desktop ---- */
@media only screen and (min-width: 1366px) and (max-width: 1599px) {
  /* ---- background colours ---- */
  .colour02 {
    top: 40%; }
  .bg01 {
    border-bottom: 300px solid #fbd258;
    border-right: 1500px solid transparent; }
  /* ---- nav ---- */
  .mobilenav {
    display: none; }
  /* ---- override column structure ---- */
  .one-third.column {
    width: 33.33%; }
  /* ---- about page ---- */
  .call-to-action {
    padding-left: 100px; }
  .cta-button {
    font-size: 10pt;
    text-transform: none;
    line-height: 1.5;
    border-radius: 25px;
    border: 2px solid #ff6160;
    padding: 8px 30px;
    margin: 10px 0 60px 0; }
  .fspecial, .fabout {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0; } }

/* ---- large desktop ---- */
@media only screen and (min-width: 1600px) and (max-width: 1900px) {
  /* ---- background colours ---- */
  .colour02 {
    top: 40%; }
  .bg01 {
    border-bottom: 300px solid #fbd258;
    border-right: 1500px solid transparent; }
  /* ---- nav ---- */
  .mobilenav {
    display: none; }
  /* ---- override column structure ---- */
  .one-third.column {
    width: 33.33%; }
  /* ---- about page ---- */
  .about-image {
    z-index: 2;
    margin-top: 80px; }
    .about-image img {
      width: 100%;
      z-index: 2; }
  .call-to-action {
    padding: 0 0 0 20px;
    z-index: 10;
    margin-top: 130px;
    color: #ff6160;
    text-align: right; }
    .call-to-action h3 {
      font-weight: bold;
      letter-spacing: 1pt;
      margin: 0;
      font-size: 22pt; }
  .cta-button {
    font-size: 10pt;
    text-transform: none;
    line-height: 1.5;
    border-radius: 25px;
    border: 2px solid #ff6160;
    padding: 8px 30px;
    margin: 10px 0 40px 0; }
  .about-text {
    left: 600px;
    margin-left: -90px;
    z-index: 10;
    padding-bottom: 20px; }
    .about-text p {
      text-align: justify; }
  .fspecial, .fabout {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0; } }

@media only screen and (min-width: 1500px) {
  /* ---- background colours ---- */
  .bg01 {
    border-bottom: 300px solid #fbd258;
    border-right: 1900px solid transparent; }
  /* ---- nav ---- */
  .mobilenav {
    display: none; }
  /* ---- override column structure ---- */
  .one-third.column {
    width: 25%; }
  .fspecial, .fabout {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0; } }
